.App {
  height: 100%;
}

.Victory-header {
  background-color: #fff;
  height: 100px;
  padding: 20px;
}

.Victory-iframe {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  border-top: 1px solid #a3a3a3;
}
